.menu-commande {
  opacity: 0;
  animation: delays 2s;
  animation-fill-mode: forwards;
}
@keyframes delays {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.delay1 {
  animation-delay: 0.2s;
}

.delay2 {
  animation-delay: 0.4s;
}

.delay3 {
  animation-delay: 0.6s;
}