@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.space_spinner {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.space_spinner {
  animation: space_spin 3s forwards;
}
.space_spinner > .spinner {
  animation: spin infinite 3s forwards;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 10px dashed #9356DC;
  border-left-color: #FF79DA;
  border-bottom-color: transparent;
  border-right-color: #99E2D0;
  border-radius: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes space_spin {
  50% {
    opacity: 0.5;
  }
  100% {
    display: none;
    opacity: 0;
    z-index: -1000;
  }
}
header {
  display: flex;
  justify-content: center;
  padding: 18px;
  box-shadow: 0px 0px 20px 0px #80808059;
  overflow: hidden;
  position: relative;
}
header .logo {
  width: 150px;
  height: 30px;
  display: flex;
}

footer {
  background-color: #353535;
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  max-width: 500px;
  margin: auto;
}
footer .footer-logo {
  font-size: 20px;
  padding-bottom: 18px;
  color: white;
  font-family: Shrikhand, "cursive";
  font-weight: 200;
}
footer a {
  padding-bottom: 10px;
  text-decoration: none;
  color: white;
}
footer a i {
  font-size: 15px;
  padding-right: 7px;
}

@media (min-width: 768px) {
  footer .footer-container {
    align-items: center;
  }
}
h1 {
  font-size: 24px;
  padding-bottom: 10px;
}

.lieu {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0px;
}
.lieu i {
  padding-right: 15px;
}
.lieu span {
  font-weight: 500;
}

.presentation {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 45px 30px;
}
.presentation .title-section {
  font-size: 24px;
  padding-bottom: 10px;
}
.presentation h2 {
  font-size: 16px;
  font-weight: normal;
  padding-bottom: 25px;
}
.presentation a {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  text-decoration: none;
  border-radius: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 500;
  color: white;
  box-shadow: 0px 2px 4px 0px #80808059;
  max-width: 220px;
  margin: 0 auto;
  padding: 2px 20px;
}
.presentation a:hover {
  opacity: 0.7;
}

.work {
  display: flex;
  flex-direction: column;
  padding: 45px 35px;
  margin: auto;
}
.work .work-list {
  align-items: center;
  background-color: #f6f6f6;
  padding: 32px 40px;
  border-radius: 25px;
  margin: 16px auto;
  box-shadow: 0px 2px 4px 0px #80808059;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  list-style-type: none;
  transition: 0.5s;
}
.work .work-list:hover {
  background-color: #f5edff;
}
.work .work-list:hover .work-icon {
  color: #9356DC;
}
.work .work-list p {
  color: white;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  left: -11px;
  background-color: #9356DC;
  line-height: 26px;
  text-align: center;
}
.work .work-list .work-icon {
  margin-right: 22px;
  color: #7e7e7e;
  transition: 0.5s;
}

.resto {
  display: flex;
  padding: 45px 30px;
  background-color: #f6f6f6;
}
.resto .container {
  margin: auto;
}
.resto a {
  text-decoration: none;
}
.resto a .text-img {
  background-color: #99E2D0;
  font-weight: 500;
  color: #008766;
  padding: 7px 12px;
  border-radius: 4px;
  position: absolute;
  top: 15px;
  right: 17px;
}
.resto .enseigne {
  background-color: #ffffff;
  width: auto;
  height: 250px;
  border-radius: 25px;
  margin: 10px auto;
  display: inline-block;
  box-shadow: 0px 2px 4px 0px #80808059;
  overflow: hidden;
  padding: 0px;
  position: relative;
}
.resto .enseigne img {
  height: 175px;
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  display: flex;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
}
.resto .enseigne .coeur-creux {
  font-size: 25px;
  color: #6a6a6a;
  cursor: pointer;
  position: absolute;
  transition: all 0.3s ease;
  background-color: transparent;
  bottom: 28px;
  right: 26px;
}
.resto .enseigne .coeur-creux:hover {
  opacity: 1;
  color: white;
}
.resto .enseigne .coeur-plein {
  font-size: 25px;
  color: #6a6a6a;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0;
  background-color: transparent;
  position: absolute;
  bottom: 28px;
  right: 26px;
}
.resto .enseigne .coeur-plein:hover {
  opacity: 1;
  background-color: transparent;
  background: -webkit-linear-gradient(0deg, #9356DC, #FF79DA);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.enseigne-foot-texte {
  padding: 14px 11px 6px 17px;
  text-align: initial;
}
.enseigne-foot-texte h3 {
  font-size: 18px;
  padding-bottom: 5px;
  color: black;
}
.enseigne-foot-texte span {
  font-size: 16px;
  color: black;
}

@media (min-width: 768px) {
  .work h1 {
    margin: auto;
  }

  .resto .container {
    margin: auto;
  }
  .resto .container .title-section {
    margin: 10px auto;
    text-align: center;
  }
  .resto .cards {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .resto .enseigne {
    width: 450px;
  }
}
@media (min-width: 1080px) {
  .list {
    display: flex;
  }
}
@media (min-width: 1859px) {
  .enseigne {
    margin: auto 20px;
  }
}