* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
header .logo {
  width: 150px;
  height: 30px;
  display: flex;
}

.lieu {
  background-color: #1f7e7e;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0px;
}
.lieu span {
  padding-left: 15px;
  font-weight: 700;
}