@mixin check {
    &:hover{
        .commande-check{
            margin-right: 0px;
            transition: 0.5s;
            i{
            transform: rotate(1turn);
            transition: transform 500ms ease-in-out;
            }
        }
    }
    .commande-check{
        display: flex;
        align-items: center;
        background-color: #99e2d0;
        width: 60px;
        height: 73px;
        justify-content: center;
        margin-right: -53px;
        transition: 0.5s;
                i{
                    font-size: 20px;
                    color: white;
                    
                }
    }
    
}
