*{
    margin: 0;
    padding: 0;
  }
  
body{
font-family: 'Roboto', sans-serif;

}
h1{
    font-size: 24px;
    padding-bottom: 10px;
}

header{
display: flex;
justify-content: center;
padding: 18px;
box-shadow: 0px 0px 20px 0px #80808059;
overflow: hidden;
position: relative;
    .logo{
    width: 150px;
    height: 30px;
    display: flex;
    }
}
.lieu{
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
    
    i{
        padding-right: 15px;
    }
    span{
        font-weight: 500;
    }
}
.presentation{
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 45px 30px;
        .title-section{
            font-size: 24px;
            padding-bottom: 10px;       
        }
        h2{
            font-size: 16px;
            font-weight:normal;
            padding-bottom: 25px;
        }
        a{
            background: linear-gradient(to bottom right, #ff79da, #9356dc);
            text-decoration: none;
            border-radius: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: 0.5s;
            font-weight: 500;
            color: white;
            box-shadow: 0px 2px 4px 0px #80808059;
            max-width: 220px;
            margin: 0 auto;
            padding: 2px 20px;
                &:hover{
                    opacity: 0.7;                                        
                }
        }
}
.work{
    display: flex;
    flex-direction: column;
    padding: 45px 35px;
    
}
.container{
    .work-list{
        align-items: center;
        background-color: #f6f6f6;
        padding: 32px 40px;
        border-radius: 25px;
        margin: 16px auto;
        box-shadow: 0px 2px 4px 0px #80808059;
        text-decoration: none;
        cursor: pointer;
        font-weight: 500;
        position: relative;
        list-style-type: none;
        transition: 0.5s;
            &:hover{
                background-color: #f5edff;
                .work-icon{
                    color: #9356DC;
                }
            }
}
.work-icon{
    margin-right: 22px;
    color: #7e7e7e;
    transition: 0.5s;
        // &:hover{
        //     color: #9356DC;
        // }
}
p{
    color: white;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
        left: -11px;
    background-color: #9356dc;
}
}
.resto{
    display: flex;
    flex-direction: column;
    padding: 45px 30px;
    background-color: #f6f6f6;
        a{
            text-decoration: none;
            .text-img{
                background-color: #99E2D0;
                font-weight: 500;
                color: #008766;
                padding: 7px 12px;
                border-radius: 4px;
                position: absolute;
                    top: 15px;
                    right: 17px;
            }
        }
        .enseigne{
            background-color: #ffffff;
            width: auto;
            height: 250px;
            border-radius: 25px;
            margin: 10px auto;
            display: inline-block;
            box-shadow: 0px 2px 4px 0px #80808059;
            overflow: hidden;
            padding: 0px;
            position: relative;
                & img{
                    height: 175px;
                    width: 100%;
                    border-radius: 25px 25px 0px 0px;
                    display: flex;
                    background-position: center;
                    object-fit: cover;
                    background-repeat: no-repeat;
                }
                    .coeur-plein{
                        font-size: 25px;
                        cursor: pointer;
                        transition: 0.5s;
                        position: absolute;
                            bottom: 28px;
                                right: 26px;
                        // z-index: 1;
                        // opacity: 0;
                        // mix-blend-mode: lighten;
                    }
                    .coeur-creux{
                        mix-blend-mode: lighten;
                        font-size: 25px;
                        cursor: pointer;
                        transition: 0.5s;
                        position: absolute;
                            bottom: 28px;
                                right: 26px;
                    
                        
                            &.coeur-creux:hover{
                                color: red !important;
                                
                            }
                            &.coeur-plein:hover{
                                color: red !important;
                                // backgrounds: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc)) !important;
                            }

                    }
        }
}
.enseigne-foot-texte{
    padding: 14px 11px 6px 17px;
    text-align: initial;
        & h3{
            font-size: 18px;
            padding-bottom: 5px;
            color: black;      
        }
        & span{
            font-size: 16px;
            color: black;  
        }
}

footer{
    background-color: #353535;
        .footer-container{
            display: flex;
            flex-direction: column;
            padding: 30px 30px;
        }
        .footer-logo{
            font-size: 20px;
            padding-bottom: 18px;
            color: white;
            font-family: Shrikhand,"cursive";
        }
        a{
            padding-bottom: 10px;
            text-decoration: none;
            color: white;
                & i{
                    font-size: 15px;
                    padding-right: 7px;
                }
        }
}