@import "commun";
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
h1{
    font-size: 24px;
    padding-bottom: 10px;
}
.lieu{
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
    
    i{
        padding-right: 15px;
    }
    span{
        font-weight: 500;
    }
}
.presentation{
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 45px 30px;
        .title-section{
            font-size: 24px;
            padding-bottom: 10px;       
        }
        h2{
            font-size: 16px;
            font-weight:normal;
            padding-bottom: 25px;
        }
        a{
            background: linear-gradient(to bottom right, $color-secondaire, $color-primaire);
            text-decoration: none;
            border-radius: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: 0.5s;
            font-weight: 500;
            color: white;
            box-shadow: 0px 2px 4px 0px #80808059;
            max-width: 220px;
            margin: 0 auto;
            padding: 2px 20px;
                &:hover{
                    opacity: 0.7;                                        
                }
        }
}
.work{
    display: flex;
    flex-direction: column;
    padding: 45px 35px;
    margin: auto;
        .work-list{
        align-items: center;
        background-color: #f6f6f6;
        padding: 32px 40px;
        border-radius: 25px;
        margin: 16px auto;
        box-shadow: 0px 2px 4px 0px #80808059;
        text-decoration: none;
        cursor: pointer;
        font-weight: 500;
        position: relative;
        list-style-type: none;
        transition: 0.5s;
            &:hover{
                background-color: #f5edff;
                .work-icon{
                    color: $color-primaire;
                }
            }
            p{
                color: white;
                border-radius: 100%;
                width: 25px;
                height: 25px;
                display: flex;
                justify-content: center;
                align-content: center;
                position: absolute;
                    left: -11px;
                background-color: $color-primaire;
                line-height: 26px;
                text-align: center;
    
            }
            .work-icon{
                margin-right: 22px;
                color: #7e7e7e;
                transition: 0.5s;
            }
    }
}
.resto{
    display: flex;
    padding: 45px 30px;
    background-color: #f6f6f6;
    .container{
        margin: auto;
    }
        a{
            text-decoration: none;
            background-color: #ffffff;
            width: auto;
            height: 250px;
            border-radius: 25px;
            margin: 10px auto;
            display: block;
            box-shadow: 0px 2px 4px 0px #80808059;
            overflow: hidden;
            padding: 0px;
            position: relative;
            & img{
                    height: 175px;
                    width: 100%;
                    border-radius: 25px 25px 0px 0px;
                    display: flex;
                    background-position: center;
                    object-fit: cover;
                    background-repeat: no-repeat;
                }
            .text-img{
                background-color: $color-tertiaire;
                font-weight: 500;
                color: #008766;
                padding: 7px 12px;
                border-radius: 4px;
                position: absolute;
                    top: 15px;
                    right: 17px;
            }
        }
        .enseigne{
            position: relative;
                .coeur-creux{
                    font-size: 25px;
                    color: #6a6a6a;
                    cursor: pointer;
                    position: absolute;
                    transition: all 0.3s ease;
                    background-color: transparent;
                        bottom: 28px;
                        right: 26px;
                    &:hover{
                        opacity: 1;
                        color: white;
                    }
                }
                .coeur-plein{
                    font-size: 25px;
                    color: #6a6a6a;
                    cursor: pointer;
                    transition: 0.5s;
                    opacity: 0;
                    background-color: transparent;
                    position: absolute;
                        bottom: 28px;
                            right: 26px;
                    &:hover{
                        opacity: 1;
                        background-color: transparent;
                        background: -webkit-linear-gradient(0deg, $color-primaire, $color-secondaire);
                        -webkit-text-fill-color: transparent;
                        -webkit-background-clip: text;
                    }
                }
                    
        }
}
.enseigne-foot-texte{
    padding: 14px 11px 6px 17px;
    text-align: initial;
        & h3{
            font-size: 18px;
            padding-bottom: 5px;
            color: black;      
        }
        & span{
            font-size: 16px;
            color: black;  
        }
}

@media (min-width: 768px){

.work{
    h1{
        margin: auto;
    }
}
.resto{
        .container{
            margin: auto;
            .title-section{
                margin: 10px auto;
                text-align: center;
            }
            
        }
        .enseigne{
            a{
                width: 310px;
                margin: 8px 15px;  
            }
            
        }
        .cards{
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            
        }
    }
}
@media (min-width: 1080px){
    .list{
            display: flex;
        }
}